.moduleBoxLarge {
    width: 30%;
}

.module-bottom-zero {
    margin-bottom: 0;
}

.scrollable-chat {
    overflow-y: auto;
    height: 300px;
}

.scrollable-module {
    overflow: auto;
    height: 320px;
}

.scrollable-tutor {
    overflow-y: auto;
    height: 1000px;
}

.label-font-big {
    font-size: 15px;
}

.hidden-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 1;
}

#popup-wrapper {
    width: 250px;
    margin: 300px auto;
    border-radius: 2px;
}

#popup-box {
    width: 100%;
    margin: auto;
    border-radius: 2px;
}

.setToZero {
    margin: auto;
}

.addModule-error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index:1;
}

.moduleList-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 1;
}

.titleText {
    font-weight: bold;
    color: navy;
}

.font-navy {
    color: navy;
}

#declineModule {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.invisibleDeleteMessage {
    visibility: hidden;
}

.studentDeleteMessage {
    visibility: hidden;
}

.set-red {
    color: darkred;
}

.buttonWithoutButtonlayout {
    background: none;
    border: none;
    padding: 0;
}

.lightBlue {
    background-color: #e3f2fd;
}

.noMarginBottom {
    margin-bottom: 0px;
}

.white-text-hyperlink:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.white-text-hyperlink {
    text-decoration: none;
    color: #FFFFFF;
}

.white-text-hyperlink:active {
    text-decoration: none;
    color: #FFFFFF;
}

.white-text-hyperlink:link {
    text-decoration: none;
    color: #FFFFFF;
}

.margin-zero-top {
    margin-top: 0px;
}

.clearFloat {
    clear: both;
}

.classroomHeading {
    background-color: lightgreen;
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
}

.classroomAnswer {
    margin-bottom: 0;
    font-size: 15px;
    color: lawngreen;
    background-color: #337ab7;
}

.marginBottomByFive {
    margin-bottom: 2px;
}

.pollingResultTitle {
    font-size: 20px;
    margin-bottom: 0;
    color: lawngreen;
}

.responseQuestion {
    color: red;
    background-color: springgreen;
    font-size: 20px;
}

.textNormal{
    font-size:25px;
}

.greenIcon{
    color:greenyellow;
}

.redIcon{
    color:red;
}

#changeLiveChat{
    font-size: 25px;
}

.smallText{
    font-size: 10px;
}

.circleNumber{
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: 2px solid red;
    text-align: center;
}